body {
    min-height: 100vh;
    --color-background-main: #CCF;
    --color-background-accent: #77F;
    background-color: var(--color-background-accent);
    margin: 0;
}

#main {
    background-color: var(--color-background-main);
}

header {
    background-color: var(--color-background-accent);
    padding: 1em;
}

footer {
    background-color: var(--color-background-accent);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    text-align: center;
}